<!-- User Login Form -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Login</title>
</head>
<body>
    <h1>User Login</h1>
    <form method="post" action="/login">
        <!-- Email Field -->
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <!-- Password Field -->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <!-- Submit Button -->
        <input type="submit" value="Login">
    </form>
    <p id="newaccount">
        <a href="{{ url_for('register') }}">Don't have an account? Register here.</a>
    </p>
    <p id="newfeedback"> or <br> 
        <a href="{{ url_for('feedback') }}">Submit feedback</a>
    </p>
</body>
</html>